<div id="<%= dom_id avistamiento %>">
  <p>
    <strong>Nombrecomun:</strong>
    <%= avistamiento.nombrecomun %>
  </p>

  <p>
    <strong>Nombrecientifico:</strong>
    <%= avistamiento.nombrecientifico %>
  </p>

  <p>
    <strong>Familia:</strong>
    <%= avistamiento.familia %>
  </p>

  <p>
    <strong>Especie:</strong>
    <%= avistamiento.especie %>
  </p>

  <p>
    <strong>Latitud:</strong>
    <%= avistamiento.latitud %>
  </p>

  <p>
    <strong>Longitud:</strong>
    <%= avistamiento.longitud %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= avistamiento.fecha %>
  </p>

  <p>
    <strong>Hora:</strong>
    <%= avistamiento.hora %>
  </p>

  <p>
    <strong>Nombreornitologo:</strong>
    <%= avistamiento.nombreOrnitologo %>
  </p>

</div>
